@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.home {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  background-image: url('../assets/imgs/sportfiy_background.png');
  background-size: cover;
}

.home-main-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 8rem;
}

.home-main-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}

.home-main-content p {
  font-size: 1.2rem;
  color: var(--color5);
}

.home-purchase-button {
  width: 200px;
  height: 50px;
  background: var(--color1);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-purchase-button:hover {
  background-color: var(--black);
}

.home-purchase-button a {
  text-decoration: none;
  color: var(--white);
}

.home-banner {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  margin-top: 5rem;
  margin-right: 1rem;
}

.home-banner img {
  width: 100%;
  height: fit-content;
  display: inline-block;
  border-radius: 1rem;
  transition: 0.5s;
}

.home-banner img:hover {
  transform: scale(1.05);
}
